/* Main tags section */
body{
  font-family: 'Montserrat'
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 3rem
}

/* Heading section */
.big-heading{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  font-weight: bold;
}

/* id section */
#title{
  background-color: #ff4c68;
}

#title .container-fluid{
  padding-bottom: 7%
}
/* Navigation bar section */
.navbar{
  padding-bottom:4.5rem
}

.navbar .container-fluid{
  padding:0
}

.navbar-brand{
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 2rem
}

.navbar-nav{
  margin-left: auto;
}

.titleSection{
  padding: 3% 15%
}

.nav-item{
  padding:0 18px
}

.nav-link{
  font-size:1.2rem;
  font-family: 'Montserrat';
}
/* image section */
.phoneImage{
  width:16rem;
  transform: rotate(25deg);
  position: absolute;
  right:25%
}

/* Download buttons */
.downloadBtn{
  margin-top: 5%;
  margin-right: 3%;
  margin-left: 3%;
}

/* features section */
#features{
  background-color: white;
  position: relative;
  z-index:1
}

.col-lg-4{
  text-align: center;
  padding: 10% 0
}
.icon{
  color:#ef8172;
  margin-bottom: 1rem
}

.icon:hover{
  color:#ff4c68
}

/* Testimonial section */
#testimonials{
  padding:7% 15%;
  text-align: center;
  background-color: #ef8172;
  color:white
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin:20px
}

/* Press section */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}
.press-logo{
  width:15%;
  margin: 20px 20px 50px;
}
.carousel-item{
  padding:0 15%
}

/* Card section */
.card{
  text-align: center;
  width: 18rem
  }

/* Pricing section */
#pricing{
  padding:100px;
  text-align: center;
}
/* Footer section */
#cta{
  text-align: center;
  background-color:  #ff4c68;
  padding: 7% 15%
}


/* Footer section */
#footer{
  padding:7% 15%;
  text-align: center
}

.social-icon{
  margin:2%
}

/* phone size section */
@media(max-width:1028px){
  .phoneImage{
    position:static;
    transform:rotate(0);
    padding-top: 3%
  }
  #title{
    text-align: center;
  }
  h1{
    font-size: 1rem
  }
  h2{
    font-size: 1rem
  }
  h3{
    font-size: 1rem
  }
  #cta h3{
    font-size: 1rem
  }
}
